.heroSection{
    background-color: #1f2937;
    padding: 50px 100px 50px 100px;
}
.headerLogo{
    font-size: 24px;
    color: #f9faf8;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerLinkSection{
    display: flex;
}
.headerLink{
    color:#e5e7eb;
    font-size: 18px;
}
ul > li{
    list-style-type: none;
}
.headerLinkSection > ul{
    display: flex;
    gap: 24px;
}
.heroContent{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.heroText{
    padding-right: 48px;
}
.mainText{
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}
.subText{
    color: #e5e7eb;
    font-size: 18px;
}
.heroImage{
    background-color: gray;
    width:600px;
    height: 250px;

}