body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.heroSection{
    background-color: #1f2937;
    padding: 0px 200px 50px 200px;
}
.headerLogo{
    font-size: 24px;
    color: #f9faf8;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerLinkSection{
    display: flex;
}
.headerLink{
    color:#e5e7eb;
    font-size: 18px;
}
ul > li{
    list-style-type: none;
}
.headerLinkSection > ul{
    display: flex;
    gap: 24px;
}
.heroContent{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.heroText{
    width: 600px;
}
.mainText{
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}
.subText{
    color: #e5e7eb;
    font-size: 18px;
}
.heroImage{
    background-color: gray;
    width:600px;
    height: 250px;

}
.signupButton{
    background-color: #3882f6;
    width: 150px;
    padding: 8px;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 15px;
    font-weight: 700;

}
.heroButton{
    padding-top: 35px;
}
.signupButton:hover{
    cursor: pointer;
}
.logoSection:hover{
    cursor: pointer;
}

.infoSection{
    padding: 38px;
}
.infocardImg{
    width: 200px;
    height: 200px;
    border: #3882f6 solid 5px;
    border-radius: 20px;
}
.infocardSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
}
.infoHeader{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    display: flex;
    justify-content: center;
}
.infoCard{
    width:200px;
    display: flex;
    flex-wrap: wrap;
}.infocardText{
    color: #1f2937;
    font-size: 16px;
    padding: 10px;
}